body {
  border: 1px solid red;
  -ms-flex-line-pack: center;
      align-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 100vh;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 0px;
  text-align: center;
  width: 100vw;
}

h1 {
  background: lightgrey;
  -webkit-box-shadow: 0 0 calc(8px + (35 - 8) * ((100vw - 500px) / (1920 - 500))) 0px black;
          box-shadow: 0 0 calc(8px + (35 - 8) * ((100vw - 500px) / (1920 - 500))) 0px black;
  font-size: calc(15px + (30 - 15) * ((100vw - 500px) / (1920 - 500)));
  margin: calc(5px + (30 - 5) * ((100vw - 500px) / (1920 - 500))) auto;
  text-shadow: 1px 1px calc(3px + (12 - 3) * ((100vw - 500px) / (1920 - 500))) red;
  width: calc(250px + (500 - 250) * ((100vw - 500px) / (1920 - 500)));
}

.square {
  background: darkgreen;
  border-radius: calc(1px + (50 - 1) * ((100vw - 500px) / (1920 - 500)));
  -webkit-box-shadow: 0 0 calc(10px + (40 - 10) * ((100vw - 500px) / (1920 - 500))) 0px black;
          box-shadow: 0 0 calc(10px + (40 - 10) * ((100vw - 500px) / (1920 - 500))) 0px black;
  width: calc(250px + (1500 - 250) * ((100vw - 500px) / (1920 - 500)));
}

.square h2 {
  background: green;
  -webkit-box-shadow: 0 0 calc(10px + (45 - 10) * ((100vw - 500px) / (1920 - 500))) 0px black;
          box-shadow: 0 0 calc(10px + (45 - 10) * ((100vw - 500px) / (1920 - 500))) 0px black;
  font-size: calc(10px + (20 - 10) * ((100vw - 500px) / (1920 - 500)));
  margin: calc(5px + (20 - 5) * ((100vw - 500px) / (1920 - 500))) auto;
  text-shadow: 1px 1px calc(5px + (8 - 5) * ((100vw - 500px) / (1920 - 500))) cyan;
  width: calc(100px + (400 - 100) * ((100vw - 500px) / (1920 - 500)));
}

.square p {
  background: lightgreen;
  border-radius: calc(5px + (50 - 5) * ((100vw - 500px) / (1920 - 500)));
  -webkit-box-shadow: 0 0 calc(10px + (45 - 10) * ((100vw - 500px) / (1920 - 500))) 0px black;
          box-shadow: 0 0 calc(10px + (45 - 10) * ((100vw - 500px) / (1920 - 500))) 0px black;
  font-size: calc(12px + (24 - 12) * ((100vw - 500px) / (1920 - 500)));
  margin: calc(5px + (20 - 5) * ((100vw - 500px) / (1920 - 500))) auto;
  padding: calc(4px + (16 - 4) * ((100vw - 500px) / (1920 - 500)));
  width: calc(100px + (1200 - 100) * ((100vw - 500px) / (1920 - 500)));
}

.small_square {
  background: blue;
  border-radius: calc(10px + (50 - 10) * ((100vw - 500px) / (1920 - 500))) calc(5px + (40 - 5) * ((100vw - 500px) / (1920 - 500)));
  -webkit-box-shadow: 0 0 calc(8px + (32 - 8) * ((100vw - 500px) / (1920 - 500))) 0px black;
          box-shadow: 0 0 calc(8px + (32 - 8) * ((100vw - 500px) / (1920 - 500))) 0px black;
  margin: 0 auto;
  width: calc(100px + (1000 - 100) * ((100vw - 500px) / (1920 - 500)));
}

.small_square h3 {
  background: lightblue;
  font-size: calc(5px + (15 - 5) * ((100vw - 500px) / (1920 - 500)));
  margin: calc(5px + (10 - 5) * ((100vw - 500px) / (1920 - 500))) auto;
  text-shadow: 1px 1px calc(5px + (15 - 5) * ((100vw - 500px) / (1920 - 500))) yellow;
  width: calc(50px + (100 - 50) * ((100vw - 500px) / (1920 - 500)));
}

.small_square p {
  background: cyan;
  font-size: calc(8px + (16 - 8) * ((100vw - 500px) / (1920 - 500)));
  margin: calc(3px + (18 - 3) * ((100vw - 500px) / (1920 - 500))) auto;
  padding: calc(1px + (8 - 1) * ((100vw - 500px) / (1920 - 500)));
  width: calc(100px + (800 - 100) * ((100vw - 500px) / (1920 - 500)));
}

.outer {
  width: 200px;
  height: 200px;
  line-height: 200px;
  background-color: #ffc;
}

.inner {
  line-height: normal;
  width: 100px;
  height: 100px;
  background-color: #fcc;
  display: inline-block;
  vertical-align: middle;
}
