* {
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  border: 2px solid blue;
  font-size: 100%;
  line-height: 1;
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -wekit-text-size-ajast: 100%;
  background-color: #212121;
  background-image: -webkit-gradient(linear, right top, left top, from(#212121), to(#212121));
  background-image: linear-gradient(270deg, #212121 0%, #212121 100%);
  -webkit-font-smoothing: antialiased;
}

body {
  border: 1px solid red;
  width: 100%;
  height: auto;
  background-color: #212121;
  color: #b8b8b8;
  font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
  background: linear-gradient(30deg, #212121 10%, #777777 40%, #212121 80%) no-repeat;
  font-size: 0.8em;
}
