#menu {
  display: -ms-grid;
  display: grid;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 40px;
  text-align: center;
  white-space: nowrap;
  width: 100%;
  margin: 0;
  border-top: 1px solid #4e4e4f;
  border-bottom: 1px solid #4e4e4f;
  -webkit-filter: drop-shadow(0px -10px 10px rgba(1, 80, 116, 0.749));
          filter: drop-shadow(0px -10px 10px rgba(1, 80, 116, 0.749));
  z-index: 2;
}

#menu ul {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%;
  background: url("../img/bg.png");
}

#menu ul:after {
  clear: both;
  content: "";
  display: block;
}

#menu li {
  background-position: 50% center;
  display: block;
  float: left;
  font-size: 14px;
  font-weight: normal;
  height: 50px;
  line-height: 39px;
  margin-right: 1%;
  position: relative;
  white-space: nowrap;
  width: 13%;
  z-index: 2;
  background: url("../img/bg1.png");
}

#menu li:after {
  background: url("../img/bg1.png") repeat scroll 0 0;
  content: "";
  height: 100%;
  position: absolute;
  right: -10%;
  top: 0;
  width: 10%;
}

#menu li:nth-child(1):before {
  border: 1px solid red;
  background: url("../img/bg.png") repeat scroll 0 0;
  content: "";
  height: 100%;
  left: -7%;
  position: absolute;
  top: 0;
  width: 7%;
}

#menu li:nth-child(1) {
  border: 1px solid green;
  background: url("../img/home.png") no-repeat center;
  margin-left: 1.5%;
  height: 100%;
  -webkit-filter: drop-shadow(0px 4px 40px rgba(85, 5, 5, 0.749));
          filter: drop-shadow(0px 4px 40px rgba(85, 5, 5, 0.749));
}

#menu li:nth-child(2) {
  border: 1px solid green;
  background: url("../img/html.png") no-repeat center;
  height: 100%;
  mix-blend-mode: normal;
}

#menu li:nth-child(3) {
  border: 1px solid green;
  background: url("../img/css-scss.png") no-repeat center;
  height: 100%;
}

#menu li:nth-child(4) {
  border: 1px solid green;
  background: url("../img/js-script.png") no-repeat center;
  height: 100%;
}

#menu li:nth-child(5) {
  border: 1px solid green;
  background: url("../img/jQuery.png") no-repeat center;
  height: 100%;
}

#menu li:nth-child(6) {
  border: 1px solid green;
  background: url("../img/php.png") no-repeat center;
  height: 100%;
}

#menu li:nth-child(7) {
  border: 1px solid green;
  background: url("../img/about.png") no-repeat center;
  height: 100%;
}

#menu a:hover {
  color: #ff6532;
  display: block;
  height: 100%;
  text-decoration: none;
}

#menu a {
  color: #0c97dc;
  display: block;
  height: 100%;
  text-decoration: none;
}

.current {
  height: 46px;
  margin-left: -70px;
  position: absolute;
  top: -3px;
  width: 155px;
  -webkit-transition: all 500ms cubic-bezier(0, 1.1, 0.5, 1.1);
  -webkit-transition: all 500ms cubic-bezier(0, 1, 0.5, 1);
  -o-transition: all 500ms cubic-bezier(0, 1, 0.5, 1);
  transition: all 500ms cubic-bezier(0, 1, 0.5, 1);
}

.ctoparr {
  height: 3px;
  left: 0;
  overflow: hidden;
  position: relative;
  top: 0px;
  width: 100%;
  z-index: 2;
}

.ctoparr:before {
  border-radius: 20%;
  -webkit-box-shadow: 0 0 7px #ff6532;
          box-shadow: 0 0 7px #ff6532;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  top: -10px;
  width: 100%;
}

.ctoparr:after {
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  border-top: 1px solid #0bd1e7;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -12px;
  position: absolute;
  top: 0;
  width: 0;
}

.cbotarr {
  bottom: 0;
  height: 3px;
  left: 0;
  overflow: hidden;
  position: absolute;
  width: 100%;
  z-index: 2;
}

.cbotarr:before {
  border-radius: 20%;
  bottom: -10px;
  -webkit-box-shadow: 0 0 7px #ff6532;
          box-shadow: 0 0 7px #ff6532;
  content: "";
  height: 10px;
  left: 0;
  position: absolute;
  width: 100%;
}

.cbotarr:after {
  position: absolute;
  border-bottom: 1px solid #0bd1e7;
  border-left: 9px solid transparent;
  border-right: 9px solid transparent;
  bottom: 0;
  content: "";
  height: 0;
  left: 50%;
  margin-left: -12px;
  width: 0;
}

#menu li.selected:nth-child(1) ~ .current {
  left: 7.5%;
}

#menu li.selected:nth-child(2) ~ .current {
  left: 21.5%;
}

#menu li.selected:nth-child(3) ~ .current {
  left: 35.5%;
}

#menu li.selected:nth-child(4) ~ .current {
  left: 49.5%;
}

#menu li.selected:nth-child(5) ~ .current {
  left: 63.5%;
}

#menu li.selected:nth-child(6) ~ .current {
  left: 77.5%;
}

#menu li.selected:nth-child(7) ~ .current {
  left: 91.5%;
}

#menu li:nth-child(1):hover ~ .current {
  left: 7.5%;
}

#menu li:nth-child(2):hover ~ .current {
  left: 21.5%;
}

#menu li:nth-child(3):hover ~ .current {
  left: 35.5%;
}

#menu li:nth-child(4):hover ~ .current {
  left: 49.5%;
}

#menu li:nth-child(5):hover ~ .current {
  left: 63.5%;
}

#menu li:nth-child(6):hover ~ .current {
  left: 77.5%;
}

#menu li:nth-child(7):hover ~ .current {
  left: 91.5%;
}
