//? Style page content - use this if you want to push the page content to the right when you open the side navigation */
#content {
	transition: margin-left 1s;
}
#middle {
	transition: margin-left 1s;
}
#footer {
	transition: margin-left 1s;
}