::selection {
	background-color: #55595c;
	color: #fff;
	text-shadow: 0 1px 0 #000;
}
::-moz-selection {
	background-color: #55595c;
	color: #fff;
	text-shadow: 0 1px 0 #000;
}

@font-face {
	font-family: "BebasNeueRegular";
	src: url("../font/BebasNeue-webfont.eot");
	src: local("?"), url("../font/BebasNeue-webfont.ttf") format("truetype");
	font-weight: normal;
	font-style: normal;
}

#wrap-search {
	float: right;
	width: 120px;
	height: 100%;
	margin-right: 4.3rem;
	border-radius: 3px;
	transition: all 0.2s ease-out;
	-moz-transition: all 0.2s ease-out;
}

#wrap-search.active {
	width: 96%;
	margin-right: 4.3rem;
	width: 320px;
}

#search {
	height: 34px;
	margin: 3px 0.5em 0 3px;
	padding: 3px;
	border: 1px solid #212121;
	border-radius: 3px;
	-moz-box-shadow: inset 0 1px 0 #212121;
	box-shadow: inset 0 1px 0 rgb(39, 38, 38);
	background: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0, rgb(1, 14, 32)),
		color-stop(0.5, rgba(40, 218, 254, 0.229)),
		color-stop(0.5, rgba(0, 213, 255, 0.629)),
		color-stop(25.5, rgba(0, 0, 0, 0.434))
	);
}

.form-search {
	width: 98%;
	position: relative;
	border: 1px solid #212121;
	height: 100%;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	transition: all 0.2s ease-out;
	box-shadow: inset 0 1px 1px #575555, 0 1px 0 #212121ca;
	-moz-box-shadow: inset 0 1px 1px #575555, 0 1px 0 #212121ad;
	-moz-transition: all 0.2s ease-out;
}

.form-search input {
	width: 83%;
	height: 22px;
	border: none;
	padding: 0 27px 0 6px;
	font: 12px Helvetica, Arial, sans-serif;
	color: #96b9d0;
	text-shadow: 0 1px 0 #000;
	background: none;
}

.form-search.close {
	background: linear-gradient( rgba(0, 0, 0, 0.685), rgba(0, 0, 0, 0.625));
}

.form-search.expand {
	width: 99%;
	color: #96b9d0;
	box-shadow: inset 0 1px 1px #46575b, 0 1px 0 #212121;
	background: linear-gradient(-90deg, #020f118a, #0013179f);
}

.form-search.expand input {
	color: #96b9d0;
}
#icn-search:hover,
#icn-close:hover {
	cursor: pointer;
}

.form-search.close #icn-search {
	width: 7px;
	height: 7px;
	position: relative;
	position: absolute;
	top: 5px;
	right: 5px;
	border: 2px solid #fd00007b;
	border-radius: 6px;
}

.form-search.close #icn1 {
	width: 2px;
	height: 6px;
	background: #fd00007b;
	position: absolute;
	right: -1px;
	top: 7px;
	transform: rotate(-25deg);
}

.form-search.expand #icn-close {
	position: relative;
	position: absolute;
	width: 2px;
	height: 13px;
	background: #fd00007b;
	top: 6px;
	right: 13px;
	transform: rotate(-45deg);
}

.form-search.expand #icn2 {
	position: absolute;
	width: 2px;
	height: 13px;
	background: #fd00007b;
	transform: rotate(86deg);
}

.boxtuffs {
	color: #807d98;
	font: 12px Helvetica, Arial, sans-serif;
	text-decoration: none;
	transition: all 0.2s ease-out;
}

.boxtuffs:hover {
	color: #27896a;
}
