.grid-conteiner {
	display: grid;
	grid-template-areas:
		"header header header"
		"menu menu menu"
		"sidenav content side-right"
		"sidenav middle middle"
		"footer footer footer";
	grid-template-columns: 0 1fr 25%;
	grid-template-rows: 2.5rem 2.5rem 1fr 8.75rem 4.345rem;
	height: auto;
	min-height: 100vh;
}

.header {
	
	grid-area: header;

}

.menu {
	grid-area: menu;

}

.sidenav {
	grid-area: sidenav;
}

.content {
	grid-area: content;

}

.middle {
	grid-area: middle;
}

.side-right {
	grid-area: side-right;

}

.footer {
	grid-area: footer;

}