.header {
	width: 100%; 
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-image: linear-gradient(to left, rgba(11, 167, 214, 0.068), rgba(2, 52, 55, 0), rgba(4, 35, 49, 0.134)), url(../img/bgrid.png);
	clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	text-transform: uppercase;
	letter-spacing: 3px;
	z-index: 3;

	&__wrapper {
		display: flex;
		flex-wrap: nowrap;
		height: 100%;
	}

	&__logo {
		width: 19%;
	}

	&__logo-name {
		width: 56%;
		height: min-content;
		text-align: center;
		align-self: center;
		color: #073a4b;
		overflow: hidden;
	}

	&__search {
		width: 25%;
	}
}

.logo {
	opacity: 0.2;
	background-repeat: no-repeat;
	background-image: url(../img/lg.png);
	height: 100%;
	max-height: 100%;
}



.logotipe {
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background: url(../img/logo.png) no-repeat center;
	background-size: contain;

}