@media (max-width: 768px) {
	.header {
		&__logo {
			display: none;

		}

		&__logo-name {
			width: 100%;
		}

		&__search {
			display: none;
			width: 25%;
		}
	}

	.content {
		margin-top: 0;
	}


	.sidebar {
		display: none;
	}

	.grid-conteiner {
		border: 1px solid green;
		display: grid;
		grid-template-areas:
			"header header "
			"menu menu"
			"search search"
			"sidebar content"
			"sidebar middle"
			"footer footer";
		grid-template-columns: 0 1fr;
		grid-template-rows: 2.5rem 2.5rem 0 1fr 7.75rem 4.345rem;
		height: auto;
		min-height: 100vh;
	}

	.header-search {
		grid-area: search;
		display: block;
		position: sticky;
		width: 100%;
		top: 2.5rem;
		margin-right: calc(8px + (64 - 8) * ((100vw - 320px) / (1600 - 320)));
		z-index: 5;
	}

	#wrap-search {
		position: sticky;
		top: 2.5rem;
		margin-right: 0;
		float: right;
		width: 13.7rem;
		height: 100%;
		white-space: nowrap;
		line-height: 1;
		// margin-left: calc(8px + (64 - 8) * ((100vw - 320px) / (1600 - 320)));
		margin-right: calc(8px + (64 - 8) * ((100vw - 320px) / (1600 - 320)));
		border-radius: 3px;
		transition: all 0.2s ease-out;
		-moz-transition: all 0.2s ease-out;
	}

	.middle {
		display: block;
		margin-right: calc(8px + (64 - 8) * ((100vw - 320px) / (1600 - 320)));
	}

	.side-right {
		display: none;
	}

}