

.hgrad {border: 1px solid red;
	color: transparent;
	font-size: var(--font-12-18);
	background-image: linear-gradient(to bottom, #32caf4 50%, #0ce3ff9f 60%, #00050c 100%);
	text-transform: uppercase;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.sticky-bottom {
	position: sticky;
	bottom: 0;
	z-index: 2;
	border-top: 1px solid #4e4e4f;
	border-bottom: 1px solid #4e4e4f;
}

// .sticky {
// 	position: fixed;
// 	top: 2.5rem;
// 	width: 100%;
// }

.block-wrap h1 {
	grid-column: 1 / span 3;
	color: var(--block-name);
	margin-left: 0.5rem;
	text-transform: uppercase;
	font-size: var(--font-h1);
}

.block-wrap h2 {
	grid-column: 1 / span 3;
	margin-left: 0.5rem;
	text-transform: uppercase;
	font-size: var(--font-h2);
	color: var(--block-name);
}

.grid-col-3 span {
	font-style: italic;
	border-radius: 15px;
	padding: 0.3em;
	background-color: #00050c;
}


.grid-col-3 {
	grid-column: 1 / span 3;
	line-height: 1.5;
}

.red {
	color: var(--red-span);

}

.yellow {
	color: var(--yellow-span);
}

.block-wrap p {
	align-items: center;
	margin: 0.2em 1em;
	font-size: var(--font-11-14);
}


.table div {
	font-size: calc(11px + (14 - 11) * ((100vw - 320px) / (1600 - 320)));
}