// ? Обнуляющий код
* {
	padding: 0;
	margin: 0;
	border: 0;
}

*:before,
*:after {
	box-sizing: border-box;
}

* {
	box-sizing: border-box;
}

a:visited {
	color: #fff;
	text-emphasis: none;
	vertical-align: middle;
	-webkit-text-emphasis: none;
}

.div {
	box-sizing: border-box;
	min-width: 100%;
	min-height: 100%;
}

html {	border: 3px solid #ff0000;
	width: 100%;
	height: auto;
	font-size: 100%;
	line-height: 1;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-wekit-text-size-ajast: 100%;
	background-color:  #212121;
	background-image: linear-gradient(270deg, #212121 0%, #212121 100%);
	-webkit-font-smoothing: antialiased;
}

body {border: 3px solid green;
	height: auto;
	background-color: #212121;
	color: #fbf96d;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
	background: linear-gradient(30deg, #000000 10%, #151414 40%, #000000 80%) no-repeat;

}
