@charset "utf-8";
// ? Обнуляющий код
html {
	width: 100%;
	max-width: 100%;
	font-size: 16px;
	
	line-height: 1.5;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	background-color: #212121;
	background-size: contain;
	background-image: linear-gradient(270deg, #212121 0%, #212121 100%);
	-webkit-font-smoothing: antialiased;
	border: 2px solid rgb(0, 17, 255);
}

body {
	height: auto;
	background-color: #14171a;
	color: #96b9d0cb;
	font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;

	border: 0px solid rgb(251, 255, 0);
}

* {
	padding: 0;
	margin: 0;
	border: 0;
	outline: 0 none;
}

*,
*:before,
*:after {
	box-sizing: inherit;
	-moz-box-sizing: inherit;
}

ul {
	list-style: none;
}

a:hover {
	color: var(--a-hover);
}

a {
	text-decoration: none;
}

a:focus,
a:active {
	outline: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 400;
}

a {
	text-decoration: none;
	color: var(--color-link);
	font-style: italic;
}

a:visited {
	text-emphasis: none;
	vertical-align: middle;
}





// * {border: 0px solid green !important;}
