//? The side navigation menu */

.sidebar {
	display: flex;
	flex-wrap: nowrap;
	position: sticky;
	top: 3em;
	margin-top: 0.5em;
	left: 0.05rem;
	height: 90vh; //? 100% Full-height */
	width: 0; //? 0 width - change this with JavaScript */
	z-index: 1; //? Stay on top */
	padding-right: 1.125rem;
	background-color: var(--bg-color-bn);
	overflow: hidden; //? Disable horizontal, vertical scroll*/
	-webkit-transition: all .5s ease-in-out;
	-moz-transition: all .5s ease-in-out;
	-o-transition: all .5s ease-in-out;
	-ms-transition: all .5s ease-in-out;
	transition: all .5s ease-in-out; //? 0.5 second transition effect to slide in the sidenav*/
	border-radius: 0px 5px 5px 0;
	box-shadow: var(--box-shl-d);
	border-top: 1px solid var(--color-gray);
	line-height: 1;

	&__link {
		width: 100%;
		height: 100%;
		text-align: left;
		overflow: hidden;
		transition: 1s;
	}

	&__vertical-text {
		writing-mode: vertical-rl;
		transform: rotate(180deg);
		width: 0%;
		line-height: 100%;
		text-align: right;
		padding-bottom: 1.25em;
		font-size: 16px;
		text-shadow: 1px 1px 0px #000000;
		color: var(--color-gray);
		border-right: 1px dotted var(--color-gray);
		box-shadow: 0 0 5px var(--a-hover);
	}

	&__drop-container {
		display: none;
		margin: 0 auto;
		width: 90%;
		white-space: nowrap;
		box-shadow: var(--box-shw-ins-l);
		border-radius: 0 8px;
	}
}
//?  Выпадающий контейнер (по умолчанию скрыт). Необязательно: добавьте более светлый цвет фона и некоторые левые отступы, чтобы изменить дизайн выпадающего содержимого */
.drop-btn {
	display: block;
	width: 90%;
	height: 30px;
	padding-left: 0.5rem;
	margin: 0.5em;
	overflow: hidden;
	white-space: nowrap;
	line-height: 2;
	text-align: left;
	cursor: pointer;
	outline: none;
	border-radius: 2rem;
	font-size: 0.875rem;
	color: var(--color-gray);
	background-color: var(--bg-color);
	border: 1px solid var(--color-gray);
	transition: 1s;
}

.link-wrap {
	position: relative;
	margin: 0 auto;
	width: 90%;
	height: 30px;
	display: flex;
	flex-wrap: nowrap;
	border-radius: 30px;
	line-height: 2;
}

.active-link {
	width: 80%;
	color: var(--a-hover);
	box-shadow: var(--box-shw-l);
}

//? The navigation menu links*/
.sidebar a {
	display: block;
	width: 70%;
	height: 60px;
	padding-left: 0.5rem;
	text-decoration: none;
	font-size: 14px;
	transition: 2s;
	border-radius: 30px;
	height: 30px;
	white-space: nowrap;
}

//? When you mouse over the navigation links, change their color
.sidebar a:hover,
.drop-btn:hover {
	opacity: 1;
	transition: 1s;
	border-radius: 30px;
	width: 80%;
	color: var(--a-hover);
	box-shadow: var(--box-shw-l);
}

//? When hovering over a link in a rapper, open content 
a:hover~.fa-share {
	display: block;
	height: 30px;
	color: var(--a-hover);
	box-shadow: var(--box-shw-l);
	line-height: 30px;
	opacity: 1;
}

.fa-share {
	position: relative;
	opacity: 0;
	transition: 1s;
	float: left;
	top: 0;
	bottom: 0;
	width: 30px;
	height: 30px;
	font-size: 12px;
	text-align: center;
	line-height: 30px;
	border-radius: 30px;
}

.fa-angle-double-left {
	position: relative;
	float: right;
	display: block;
	text-align: center;
	width: 30px;
	height: 30px;
	line-height: 2;
	border-radius: 30px;
}

.fa-angle-double-left:hover,
.drop-btn:hover {
	box-shadow: var(--box-shw-r);
	z-index: 9;
}




// ? Accordion Menus
.dropp-btm {
	display: block;
	width: 90%;
	height: 30px;
	padding-left: 0.5rem;
	margin: 0.5rem 0.5rem 0;
	overflow: hidden;
	white-space: nowrap;
	line-height: 2;
	text-align: left;
	cursor: pointer;
	outline: none;
	border-radius: 2rem;
	font-size: 0.875rem;
	color: var(--color-gray);
	background-color: var(--bg-color);
	border: 1px solid var(--color-gray);
	transition: 1s;
}

.dropp-btm:hover {
	width: 80%;
	color: var(--a-hover);
	box-shadow: var(--box-shw-r);
}

.dropp-menu {
	margin-left: 1.125rem;
	position: relative;
	width: 85%;
	height: 0;
	opacity: 0;
	left: 200%;
	visibility: hidden;
	color: var(--a-hover);
	transition: 1s;
}

.link-wrapp {
	width: 100%;
	height: 30px;
	display: flex;
	flex-wrap: nowrap;
	border-radius: 30px;
	line-height: 2;
}

.dropp-btm:hover~.dropp-menu,
.dropp-menu:hover {
	position: relative;
	left: 0;
	visibility: visible;
	height: 150px;
	box-shadow: var(--box-shw-ins-l);
	border-radius: 5px;
	left: 0;
	opacity: 1;
}



