@import "variables", "header", "form-serch", "menu", "content", "grid", "sidebar", "modifiers", "animation", "null", "bg-grid", "fa-icon", "media";



.dropp-btm {

	height: 1.875em;


	display: block;

	border-radius: 30px;
	white-space: nowrap;
	color: var(--color-gray);
	background-color: var(--bg-color);
	border: 1px solid var(--color-gray);
	border: 1px solid blueviolet;
}

.drop-menu {
	border: 1px solid rgb(234, 255, 0);
	border: 1px solid red;
	display: none;
	width: 90%;
}

.dropp-btm:hover {border: 1px solid red;
	
	width: 70%;
	color: var(--a-hover);
	box-shadow: var(--box-shw-r);
}

div.sidenav__link>ul:hover,
div.dropp-btm:hover~ul {
	display: block;
	position: relative;
	color: var(--a-hover);
	transition: 1s;
	width: 90%;
	margin-left: 1.125rem;
	top: -0.5rem;

}