@import "variables", "reset", "header", "form-serch", "menu", "content", "grid", "sidebar", "modifiers", "animation", "bg-grid", "media";


.sidebar {
	#left-nav {
		margin: 0 auto;
		width: 100%;
		white-space: nowrap;
		box-shadow: var(--box-shw-ins-l);
		border-radius: 0 8px;

		ul {
			li {
				margin: 0.5em auto;
				width: 90%;
				border-radius: 2rem;
				line-height: 2;
				color: var(--color-gray);

				transition: 1s;

				a {
					color: #1aaebc;
					width: 100%;
					background-color: var(--bg-color);
					border: 1px solid var(--color-gray);

				}
				&.active {
					&>a {

						color: var(--a-hover);
					}

					ul {
						display: block;
					}
				}

				a {
					display: block;
					outline: 0;
					-webkit-transition: all 200ms ease-in;
					-moz-transition: all 200ms ease-in;
					-o-transition: all 200ms ease-in;
					-ms-transition: all 200ms ease-in;
					transition: all 200ms ease-in;

					&:hover {
						color: var(--a-hover);
					}

					span {
						display: inline-block;
					}
				}
			}
		}

		ul ul {
			display: none;

			li {
				width: 95%;
				margin-bottom: 0;
				margin-right: 0;
				border-bottom: none;

				a {
					width: 100%;
					display: flex;
					flex-wrap: nowrap;
					border-radius: 30px;
					line-height: 2;
				}
			}
		}
	}
}

.nano-content {
	border: 0px solid red;
}